<nav>
  <ul class="pagination">
    {% if pagination_data.has_previous %}
      <li>
        <a href="?page_no=1">首页</a>
      </li>
      <li>
        <a href="?page_no={{ pagination_data.previous_link }}">&laquo;</a>
      </li>
    {% endif %}
    {% for lnk in pagination_data.page_links %}
      {% if lnk == pagination_data.current_no %}
        <li class="active">
          <a href="?page_no={{ lnk }}">{{ lnk }}</a>
        </li>
      {% else %}
        <li>
          <a href="?page_no={{ lnk }}">{{ lnk }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if pagination_data.has_next %}
      <li>
        <a href="?page_no={{ pagination_data.next_link }}">&raquo;</a>
      </li>
      <li>
        <a href="?page_no={{ pagination_data.pages_cnt }}">尾页</a>
      </li>
    {% endif %}
  </ul>
</nav>