{% extends "base.html" %}

{% block content %}
  <div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li><a href="{% url 'article_list' a.block.id %}">{{ a.block.name }}</a></li>
      <li class="active">{{ a.title }}</li>
    </ol>

    <table class="table table-bordered">
      <tr>
        <td style="width: 200px;">
          作者: {{ a.owner.username }}
        </td>
        <td>
          <h2>{{ a.title }}</h2> {{ a.content }}
        </td>
      </tr>

      {% for comment in comments %}
        <tr>
          <td style="width: 200px;">
            作者: {{ comment.owner.username }}
          </td>
          <td>
            {% if comment.to_comment %}
              <blockquote>
                <b>{{ comment.to_comment.owner.username }}:</b>
                <br />
                {{ comment.to_comment.content|linebreaksbr }}
              </blockquote>

            {% endif %}
            <!--数据库中的换行符是\n,而html中换行复为<br/>要将\n转换成<br/>需要使用'linebreaksbr'过滤器-->
            {{ comment.content|linebreaksbr }}
            <a href="#replyRegion" data-id="{{ comment.id }}" class="replyBtn btn btn-primary pull-right">
              回复
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

    {% include "component/paginator.html" %}

    <table id="replyRegion" class="table mainTable">
      <tr>
        <td class="author">
          <br/>
          作者：{{ user.username }}
        </td>
        <td class="content">
          <textarea class="form-control" id="commentContent" rows="3"></textarea>
          <br/>
          <button class="btn btn-primary" id="commentBtn">发表评论</button>
          <br/>
          <br/>
        </td>
      </tr>
    </table>

    <style type="text/css">
      .mainTable td.author {
        width: 10%;
      }

      .mainTable td.content {
        width: 87%;
      }

      blockquote {
        font-size: 13px;
      }

      img {
        max-width: 200px;
        max-height: 200px;
      }
    </style>
  </div>
  <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.csrf.js"></script>
  <script type="text/javascript">
      // 等待本页面加载完成后回调
      $(document).ready(function () {
          let article_id = {{ a.id }};
          let page_cnt = {{ pagination_data.pages_cnt }};
          let to_comment_id = 0;

          /*
          可以为一类元素绑定事件回调函数，e.target是具体响应事件的元素
          单击一个元素会使得这个元素默认获得焦点
          为了阻断默认获得焦点的行为，需要在回调函数中return false
          */
          $(".replyBtn").click(function (e){
              to_comment_id = parseInt($(e.target).attr('data-id'));
              $("#commentContent").focus();
              return false;
          });

          $("#commentBtn").click(function () {
              let comment = $("#commentContent").val();
              let param = {"article_id": article_id, "content": comment, 'to_comment_id': to_comment_id};

              /* 向服务器提交数据，除了使用form表单，还可以使用js提交，js请求相关称为AJAX
                直接使用JQuery的post方法
                $.post(url, param, function (data) {…}）
                url: 向url表示的地址发起post请求
                param: post请求相关的参数
                function: 请求完成后的回调函数
                data: url对应的处理函数返回的数据，该数据一般是json文本
               */
              $.post("{% url 'create_comment' %}", param, function (data) {
                  let ret = JSON.parse(data);
                  if (ret["status"] === "ok") {
                      $("#commentContent").val("");
                      window.location.href = "/article/details/{{ a.id }}?page_no=" + (page_cnt + 1);
                  }
                  else {
                      alert(ret["msg"]);
                  }
              });
          })
      });
  </script>
{% endblock %}