{% extends 'base.html' %}
{% block content %}
        <!--错误处理-->
    {% for field in form %}
    {% for error in field.errors %}
        <div class="alert alert-danger">{{ field.label }}: {{ error }}</div>
    {% endfor %}
    {% endfor %}


    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <div class="alert alert-danger">密码：{{ error }}</div>
        {% endfor %}
    {% endif %}

    <!--表单部分-->
    {% if validlink %}
    <form class="form-horizontal" action="" method="POST"> {% csrf_token %}
        <div class="form-group">
           <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">请输入新密码</span>
              <input type="password" name="new_password1" class="form-control" placeholder="请输入新密码" aria-describedby="basic-addon1" />
           </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">请再次输入新密码</span>
              <input type="password" name="new_password2" class="form-control" placeholder="请再次输入新密码" aria-describedby="basic-addon1" />
           </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
    {% else %}
        <h2>链接失效</h2>
    {% endif %}

{% endblock %}