{% extends 'base.html' %}
{% block content %}

    <!--表单部分-->
    <form class="form-horizontal" action="" method="POST"> {% csrf_token %}
        <div class="form-group">
           <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">请输入邮箱</span>
              <input type="email" name="email" class="form-control" placeholder="请输入邮箱" aria-describedby="basic-addon1" />
           </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>

    </form>

{% endblock %}